Repository Crab-Wave/ora, pull requests merged in 2020-04, with the labels that each got.

#27 Implement Identities
  ORA.API/Identity.cs
  ORA.API/Managers/IIdentityManager.cs
  ORA.API/Ora.cs
  ORA.Core.Tests/Encryption/CipherTests.cs
  ORA.Core.Tests/Managers/IdentityManagerTests.cs
  ORA.Core/Encryption/RSACipher.cs
  ORA.Core/Encryption/RsaCipher.cs
  ORA.Core/Managers/IdentityManager.cs
  ORA.Core/OraCore.cs
Labels: Difficulty: Medium, Project: API, Project: Core

#25 Zstd compression
  ORA.API/Ora.cs
  ORA.Core.Tests/Compression/CompressionTests.cs
  ORA.Core/Compression/ZipLibCompressor.cs
  ORA.Core/ORA.Core.csproj
  ORA.Core/OraCore.cs
Labels: Difficulty: Easy

#31 Implemented Authentication and Authorization
  ORA.API/Managers/IAuthManager.cs
  ORA.API/Managers/IIdentityManager.cs
  ORA.API/Ora.cs
  ORA.Application.CLI.CoreWrapper/Program.cs
  ORA.Application.CLI/Clusters.cs
  ORA.Application.CLI/Members.cs
  ORA.Application.CLI/Objects/ClusterIdentifierModel.cs
  ORA.Application.CLI/Objects/MemberIdentifierModel.cs
  ORA.Application.CLI/Program.cs
  ORA.Application.CLI/Validators/ClusterIdentifierValidator.cs
  ORA.Application.CLI/Validators/MemberIdentifierValidator.cs
  ORA.Core.Tests/CoreInitializationFixture.cs
  ORA.Core.Tests/Encryption/CipherTests.cs
  ORA.Core/Encryption/RsaCipher.cs
  ORA.Core/Managers/AuthManager.cs
  ORA.Core/Managers/ClusterManager.cs
  ORA.Core/Managers/IdentityManager.cs
  ORA.Core/OraCluster.cs
  ORA.Core/OraCore.cs
Labels: Difficulty: Medium, Project: API, Project: Application, Project: Core, enhancement

#32 Finish Documentation
  ORA.API/Cluster.cs
  ORA.API/Compression/ICompressor.cs
  ORA.API/Encryption/ICipher.cs
  ORA.API/Http/HttpClient.cs
  ORA.API/Http/HttpRequest.cs
  ORA.API/Http/HttpResponse.cs
  ORA.API/Identity.cs
  ORA.API/Loggers/ILogger.cs
  ORA.API/Managers/IAuthManager.cs
  ORA.API/Managers/IClusterManager.cs
  ORA.API/Managers/IIdentityManager.cs
  ORA.API/Member.cs
  ORA.API/Node.cs
  ORA.API/ORA.API.csproj
  ORA.API/documentation.xml
Labels: Difficuly: Hard, Project: API, documentation

#28 Implemented IPC
  .gitignore
  ORA.API/Cluster.cs
  ORA.API/Http/HttpClient.cs
  ORA.API/Http/IHttpClient.cs
  ORA.API/Managers/IClusterManager.cs
  ORA.API/Node.cs
  ORA.API/Ora.cs
  ORA.API/documentation.xml
  ORA.Application.CLI.CoreWrapper/ORA.Application.CLI.CoreWrapper.csproj
  ORA.Application.CLI.CoreWrapper/Program.cs
  ORA.Application.CLI/Clusters.cs
  ORA.Application.CLI/Members.cs
  ORA.Application.CLI/OraApplication.cs
  ORA.Application.CLI/Program.cs
  ORA.Application.Daemon/ORA.Application.Daemon.csproj
  ORA.Application.Daemon/Program.cs
  ORA.Core.IPC/Compression/IpcCompressor.cs
  ORA.Core.IPC/Encryption/IpcCipher.cs
  ORA.Core.IPC/Http/IpcHttpClient.cs
  ORA.Core.IPC/Loggers/IpcLogger.cs
  ORA.Core.IPC/Managers/IpcAuthManager.cs
  ORA.Core.IPC/Managers/IpcClusterManager.cs
  ORA.Core.IPC/Managers/IpcIdentityManager.cs
  ORA.Core.IPC/ORA.Core.IPC.csproj
  ORA.Core.IPC/OraCoreIpc.cs
  ORA.Core.Tests/Http/HttpClientTests.cs
  ORA.Core.Tests/Managers/ClusterManagerTests.cs
  ORA.Core/Http/UnirestHttpClient.cs
  ORA.Core/Managers/ClusterManager.cs
  ORA.Core/OraCluster.cs
  ORA.Core/OraCore.cs
  ORA.sln
Labels: Difficuly: Hard, Project: API, Project: Application, Project: Core

#33 Improvements for clusters
  ORA.API/Cluster.cs
  ORA.API/Identity.cs
  ORA.API/Managers/IClusterManager.cs
  ORA.API/documentation.xml
  ORA.Core.IPC/Managers/IpcClusterManager.cs
  ORA.Core/Managers/ClusterManager.cs
Labels: Difficulty: Medium, Project: API, Project: Core, enhancement
