Repository Crab-Wave/ora, pull requests merged in 2020-03, with the labels that each got.

#24 Added Compressor API
  ORA.API/Compression/ICompressor.cs
  ORA.API/Encryption/ICipher.cs
Labels: Difficulty: Easy, Project: API, enhancement

#23 Ouverture cluster
  ORA.Core.Tests/CipherTests.cs
  ORA.Core.Tests/CoreInitializationFixture.cs
  ORA.Core.Tests/Encryption/CipherTests.cs
  ORA.Core.Tests/Http/HttpClientTests.cs
  ORA.Core.Tests/HttpTests.cs
  ORA.Core.Tests/Managers/ClusterManagerTests.cs
  ORA.Core.Tests/ORA.Core.Tests.csproj
  ORA.Core/Managers/ClusterManager.cs
  ORA.Core/OraCluster.cs
  ORA.Core/OraCore.cs
Labels: Project: Core, enhancement

#26 CLI Base
  ORA.API/Loggers/ILogger.cs
  ORA.Application.CLI.CoreWrapper/Program.cs
  ORA.Application.CLI/Clusters.cs
  ORA.Application.CLI/CommandManager.cs
  ORA.Application.CLI/Commands/Cluster.cs
  ORA.Application.CLI/Commands/ManagementCommand.cs
  ORA.Application.CLI/ORA.Application.CLI.csproj
  ORA.Application.CLI/Objects/ClusterIdentifierModel.cs
  ORA.Application.CLI/Objects/ClusterNameModel.cs
  ORA.Application.CLI/Options/Options.cs
  ORA.Application.CLI/Options/Url.cs
  ORA.Application.CLI/OraApplication.cs
  ORA.Application.CLI/Program.cs
  ORA.Application.CLI/Validators/ClusterIdentifierValidator.cs
  ORA.Application.CLI/Validators/ClusterNameValidator.cs
  ORA.Core/BasicCluster.cs
  ORA.Core/Loggers/SimpleLogger.cs
  ORA.Core/ORA.Core.csproj
  README.md
Labels: Difficulty: Medium, Project: Application, enhancement
