Repository Crab-Wave/ora, pull requests merged in 2020-02, with the labels that each got.

#16 Basic API implementation
  ORA.API/Cluster.cs
  ORA.API/Http/HttpRequest.cs
  ORA.API/Http/HttpResponse.cs
  ORA.API/Http/IHttpClient.cs
  ORA.API/Managers/IClusterManager.cs
  ORA.API/Managers/INodeManager.cs
  ORA.API/Node.cs
  ORA.API/Ora.cs
  ORA.Application.CLI/Program.cs
  ORA.Core.Tests/ORA.Core.Tests.csproj
  ORA.Core.Tests/Tests.cs
  ORA.Core/Http/UnirestHttpClient.cs
  ORA.Core/ORA.Core.csproj
  ORA.Core/OraCore.cs
Labels: Difficulty: Medium, Project: API, Project: Core, Story Points: 3, enhancement

#17 CLI Application CoreWrapper
  ORA.Application.CLI.CoreWrapper/ORA.Application.CLI.CoreWrapper.csproj
  ORA.Application.CLI.CoreWrapper/Program.cs
  ORA.Application.CLI.Tests/ORA.Application.CLI.Tests.csproj
  ORA.Application.CLI/ORA.Application.CLI.csproj
  ORA.Application.CLI/Program.cs
  ORA.sln
Labels: Project: Application, enhancement

#18 Cipher API
  ORA.API/Encryption/ICipher.cs
  ORA.API/Ora.cs
  ORA.Core/OraCore.cs
Labels: Difficulty: Easy, Project: API, enhancement

#19 Implemented RSA Cipher
  ORA.Core.Tests/Tests.cs
  ORA.Core/Encryption/RSACipher.cs
  ORA.Core/OraCore.cs
Labels: Difficulty: Medium, Project: Core, enhancement

#20 Rewrite HttpClient code
  ORA.API/Http/HttpClient.cs
  ORA.API/Http/IHttpClient.cs
  ORA.API/Ora.cs
  ORA.Core.Tests/Tests.cs
  ORA.Core/Http/UnirestHttpClient.cs
  ORA.Core/OraCore.cs
Labels: Project: API, Project: Core, Story Points: 1, enhancement

#21 Rewrite tests
  ORA.Core.Tests/CipherTests.cs
  ORA.Core.Tests/CoreInitializationFixture.cs
  ORA.Core.Tests/HttpTests.cs
  ORA.Core.Tests/Tests.cs
Labels: Story Points: 1, enhancement

#22 HttpClient revision
  ORA.API/Ora.cs
  ORA.Core.Tests/HttpTests.cs
  ORA.Core/OraCore.cs
Labels: Project: API, Project: Core, enhancement
